[2013-09-03 20:46] gr0uch opened #1 "update to ember-data 1.0 beta"
Currently, this works for ember data 0.13 - 0.14, but the 1.0 beta breaks everything.

[2013-09-04 23:08] #1 closed, assigned to nobody

[2013-09-04 23:10] daliwali opened #2 "Parse top-level "meta" and "links" objects"
This should enable an API client to not worry about hard-coding resource paths, and also add the possibility to extract extra information from the top-level "meta" object.

[2013-09-05 00:19] daliwali opened #3 "Use PATCH instead of PUT for updating records"
Currently, the adapter still follows the default REST adapter behaviour when updating records, which is to PUT the entire resource. A smarter, better approach would be to only serialize changes, and send the request as a PATCH.

The request might look something like this:
[code]

[2013-10-19 08:01] ColemanGariety opened #7 "Bower component"
This would fit nicely as a bower component.

Then we could setup a `package.json` for fortune. Then a `bower.json` for ember, ember-data, and ember-json-api.

[2013-12-07 13:30] mwitte opened #8 "Server aborted the SSL handshake"
In my ember.js I use this adapter to use ember-data with fortunejs but the request in browser fail.

Ember:

[code]

Here is a dump of the request which fires the browser as cURL:

[code]

cURL says on commandline on this:

[code]

[2013-12-07 14:08] #8 closed, assigned to nobody

[2014-05-28 06:09] ColtonProvias opened #13 "Singular Resources and pluralized keys"
According to the currently published JSON API spec, singular resources are to be wrapped in arrays and keyed with the plural form of the resource type.

ember-json-api expects:

[code]

And what JSON API-compliant implementations provide:

[code]

[2014-05-28 20:01] #13 closed, assigned to nobody

[2014-06-27 19:54] stefanpenner opened #15 "URL templating not complete"
url templating is only aware of the current model's ID, but to be compatible actually needs reference to the entire model.

This may need some ember-data level adjustments, but well worth it.

example:

[code]

the built url, incorrectly templates `{posts.comments}` with the primary models id.

http://jsonapi.org/format/#document-url-template-shorthands elaborates other variations.

(cc @rjackson

[2014-06-27 22:08] cmosguy opened #16 "pushPayload test"
@daliwali Have you tested the ember-json-api with pushPayload?

[2014-07-08 19:43] oliverbarnes opened #19 "Support for breaking changes on latest spec update"
Just found out about [the latest changes to the spec](https://github.com/json-api/json-api/pull/237), wondering if support for them is in the works?

[2014-07-14 15:41] wrenoud opened #21 "Documentation on current support of JSON API"
I'm in the process of [creating an api](/wrenoud/sequelize-json-api) to expose [sequelize](/sequelize/sequelize) models with the JSON API format. Specifically this is for an ember project so I would like to support this module's implementation but I think I've already overshot with some of the [URL relationships](http://jsonapi.org/format/#urls-relationships).

Some more documentation on the curre

[2014-08-14 15:41] chrisolsen opened #22 "Empty arrays are always returned"
After an attempt to use this adapter all data-binding was lost. API calls are being made, but in the store.find promise method an empty array is always returned even though it can be seen that data is returned via the inspector.

The only method that seems to be called through the lifetime of the app is the buildURL.  The previously existing code that was using the RESTAdapter was working and the

[2014-09-08 17:58] kurko opened #25 "Move to ES6"
I'm maintaining now this project (huge props to @daliwali) and I need to make some changes. First important one imo is moving to ES6. Some members expressed that this could end up being merged into Ember Data's itself (/cc @fivetanley).
- [x] Move to ES6: this way, code is cleaner and we're able to have more granular objects, which will result in more organized code.
- [x] Remove Grunt in favour o

[2014-09-08 19:17] jwhitlock opened #27 "Adapter.namespace causes incorrect buildUrl() results"
I have a JSON API where the API appears at the prefix `/api/`, so that the collection of users is available at http://example.com/api/users .  If an object has a link, it looks something like:

[code]

I added a namespace to the adapter:
[code]

This makes the first request to fetch posts, but it adds the entry 'api/users/{post.user}' to `DS._routes["user"]`.  `adapter.buildURL` then returns `/api

[2014-09-11 09:45] egeriis opened #28 "Linked resources are sent as `null` on creation"
When I save a new model to be persisted on the server, the payload for relationships appears to be wrong. In this example `options` is a `hasMany` relationship:

[code]

Model for `option` looks like this:

[code]

[2014-09-11 12:30] egeriis opened #29 "Ember Data tries to find model for 'error' when returning error messages"
Per jsonapi.org spec it should be possible to pass errors alone or alongside other payload. But it appears that ember-json-api doesn't handle this correctly, as Ember Data is trying to look for an error model when I return an `errors` array with my payload.

Example payload:

[code]

[2014-09-14 04:45] #25 closed, assigned to kurko

[2014-09-14 05:09] #21 closed, assigned to nobody

[2014-09-14 05:11] #7 closed, assigned to nobody

[2014-09-14 05:12] #16 closed, assigned to nobody

[2014-09-14 05:12] #19 closed, assigned to nobody

[2014-09-16 04:47] kurko opened #31 "Tests to prove specification is respected"
This is a list of things we need to test to make sure the adapter abides to JSONAPI.org.
- [x] Individual Resource Representations
- [x] Resource Collection Representations
- [ ] Resource Types
- [ ] Resource URLs
- [ ] To-One Relationships
- [ ] To-Many Relationships
- [ ] Compound Documents
- [ ] URL Templates
- [ ] URLs for Resource Collections
- [ ] URLs for Individual Resources
- [ ] Relation

[2014-09-16 04:49] #31 closed, assigned to nobody

[2014-09-19 15:10] pendar747 opened #33 "Error: No model was found for 'toString'"
I keep getting this error although I receive valid json api responses from the server.

example:
{"locations": [{"id":166,"lat":"51.4986658","lng":"-0.0593145","name":null,"type":null,"hyperlocation":null,"created_at":"2014-09-19T00:00:00+0100","updated_at":"2014-09-19T00:00:00+0100","distance":"0.0007320925290059726"}]}

this is the full error description:
Error: No model was found for 'toString'

[2014-09-24 22:26] raycohen opened #37 "dasherize file names"
the file naming convention of ember-cli and the ember ecosystem in general is dasherized rather than snake case (underscores).

it would be great if `json_api_adapter.js` and `json_api_serializer.js` were renamed to `json-api-adapter.js` and `json-api-serializer.js`

[2014-09-26 08:57] egeriis opened #38 "Cannot install through Bower"
Bower complaints that there are no tags to "satisfy ~0.0.8".

[2014-10-07 04:05] kurko opened #41 "Tests to prove specification is respected"
This is a list of things we need to test to make sure the adapter abides to JSONAPI.org.

- [x] Individual Resource Representations #30
- [x] Resource Collection Representations #30
- [ ] Resource Types
- [ ] ~~Resource URLs~~
- [x] To-One Relationships #30
- [x] To-Many Relationships #30
- [ ] ~~URL Templates~~
- [x] Compound Documents #30
- [x] URLs for Resource Collections #30
- [x] URLs for In

[2014-10-07 14:46] igorT opened #42 "Do not save links data on DS"
Currently the links data is saved on the global static DS object, which leaks data. For example when testing you could get old data.

[2014-10-07 21:34] koemeet opened #43 "Links use href for hasMany relations"
Hi,

Currently this library does not support urls for hasMany relations. In the server response, you have to pass all the IDs of the related resource in order to fetch it. Isn't it much better to also support URLs to point the client to the correct API call to fetch the related resources.

This is how you now would return a post with the related comments (these will be fetched async)

[code]

Thos

[2014-10-10 21:33] #43 closed, assigned to nobody

[2014-10-28 21:58] holandes22 opened #48 "Problems with installation"
Hi,

I followed the instructions to install from the README, but it fails with this error:

[code]

Apparently the version at npm repo is outdated since it is running a postinstall command from package.json, which was removed in master:

[code]

I installed directly from github, the installation then succeeds, but running ember-cli serve, fails with this error:

[code]

Using ember-cli 0.1.2

Not

[2014-10-29 18:27] #48 closed, assigned to nobody

[2014-11-02 21:37] #37 closed, assigned to nobody

[2014-11-03 04:06] krainboltgreene opened #52 "Doesn't support an array of values"
Response:

[code]

The specification allowing this body: http://jsonapi.org/format/#document-structure-resource-collection-representations

Emphasis mine.

ember-json-api error:

[code]

[2014-11-11 22:34] johanneswuerbach opened #53 "Underscored or hyphenated urls?"
I couldn't find any hint in http://jsonapi.org/, but how should URLs for models like `PlaceRequest` look like? `api/place_requests` (ED uses this today) or `api/place-requests` (Everything is hyphenated in ember-cli)

//cc @stefanpenner

[2014-11-19 15:57] wagenet opened #54 "Null links are not handled properly"
https://github.com/kurko/ember-json-api/blob/899825dd63354c6f5305879ddd5ee7403685fbb8/src/json-api-serializer.js#L47 - If `linkValue` is `null` it will pass the `typeof 'object'` test. Should just add `linkValue &&` to the start of that conditional.

I will try to PR soon.

[2014-11-19 17:09] #54 closed, assigned to nobody

[2014-11-25 12:06] muchweb opened #55 "Publishing latest version to Bower"
1. Bower's published package links to [@JacksonGariety's (outdated) fork](https://github.com/JacksonGariety/ember-json-api), not this repo

2. If package name wouldn't be available on Bower, to add corect `README` installation instructions

This also relates to #38

[2014-11-25 12:11] muchweb opened #56 "Using in browser"
1. In `README`, it needs to be made more clear that this is intended to be used with `ember-cli`.
2. To to release browserified drop-in version that could be easily included in HTML.

[2014-12-12 12:59] dustinfarris opened #58 "Why?"
Sorry for my ignorance and if this is the wrong place to ask; but I'm confused as to what problem this package solves.  Doesn't Ember Data's [built-in REST adapter](https://github.com/emberjs/data/blob/master/packages/ember-data/lib/adapters/rest_adapter.js) already support JSON API out of the box?

[2014-12-12 15:33] #58 closed, assigned to nobody

[2014-12-21 21:45] H1D opened #60 "Model having `length` field causes problems"
When model has `length` field and we have single model returned from server like this:

[code]
Note that `tracks` is not an array.

Problem caused by `extractSingle()` method which [uses](https://github.com/kurko/ember-json-api/blob/918f75af2eb1684caca72c2fcfff71dce6594b8e/src/json-api-serializer.js#L24) `Ember.isArray()` which [assumes](https://github.com/emberjs/ember.js/blob/master/packages/emb

[2015-01-17 00:07] lohengrin332 opened #62 "Related/linked entities don't load properly"
With two models related in a 1:1 fashion:

Person:

    lead: DS.belongsTo('lead', { async: true }),
    firstName: DS.attr('string'),
    lastName: DS.attr('string'),
    photo_url: DS.attr('string'),

Lead:

    person: DS.belongsTo('person', { async: true }),
    username: DS.attr('string'),

I'm receiving the following JSON from my web service:

    {
        "leads": [
            {

[2015-02-04 18:54] meismann commented on #56
When I include `ember-json-api/dist/ember-json-api.js` in my browser app, I get an error:
[code]
I have already included `loader.js/loader`, so the define statement in the dist-file gets understood. Can somebody please update the installation instructions for browser apps?

[2015-02-12 14:29] gunnar2k opened #63 "How to set a belongsTo relationship to null ?"
Using stable-beta-3, how do I save a model with a new belongsTo value of null?

[2015-02-19 01:14] aceofspades opened #66 "Request: track ember-data version numbers"
The beta-15 breaking changes may delay some apps from upgrading. I'm disappointed with the lack of [semantic versioning of ember data](http://discuss.emberjs.com/t/ember-data-semantic-versioning/7354) but it does perhaps call for tracking to ember-data versions here.

Ugly, but perhaps branches `1.0.0-beta.14-v0.2.3` and `1.0.0-beta.15-v0.3.0` might be good names until data hits 1.0. Basically I m

[2015-02-19 14:27] backspace opened #67 "JSON API 1.0 rc2 plans?"
Hey, thanks for your work on this. I experienced some confusion when I saw in the README that it’s compatible with JSON API 1.0 rc1 because I couldn’t find any versioning on their site. I tried out the JSON structure described on their site with this adapter and it didn’t work because the `data` container, I now realise, is a change made in rc2.

So I’m wondering whether you have plans to update f

[2015-02-28 19:58] eneuhauser commented on #67
Hi @backspace, I ran into the same problem and went ahead and forked the repo and was able to update to the RC2 standard. All the tests are passing and I'll begin consuming this library in my own project that uses the RC2 standard.

You can checkout [my repo](https://github.com/eneuhauser/ember-json-api) until the pull request is accepted.

[2015-03-05 12:00] joachimhs opened #69 "Set headers automatically?"
Hello,

Is there a specific reason why the adapter does not set these two JSON Api Specific headers automatically?

Content-Type: application/vnd.api+json
Accept: application/vnd.api+json

I was wondering if there is a specific reason before I submit a PR :)

[2015-03-06 09:37] wwwdata opened #70 "Update Links Property href to resource"
In the latest jsonapi.org Standard, the url to fetch related records was renamed to `resource`, see http://jsonapi.org/format/#document-structure-resource-relationships

[2015-03-08 02:32] achan commented on #28
@egerlis did you ever find a solution to this?

@kurko what are your thoughts about removing all hasMany attributes from `createRecord`? How would you even refer to an uncreated hasMany attribute? They do not have IDs yet... hence the nulls. I don't see how the current state of JSONAPI can accommodate this scenario without two transactions...

[2015-03-09 09:27] egeriis commented on #28
@achan I believe what I ended up doing, was to save all options and wait for their promises to resolve before saving the parent model. I would prefer that `ember-json-api` could handle this automatically, though.

[2015-03-12 21:50] realityendshere commented on #67
Hi @eneuhauser, I tried your fork of json api adapter. It definitely works a lot better with the recent changes to the JSON API spec (RC2+). Thanks for the awesome work!

One challenge I am seeing is namespace awareness. If my API endpoints all start with 'api/' (e.g. http://www.some-api-host.com/api/users and http://www.some-api-host.com/api/posts), I can set a namespace property on the adapter t

[2015-03-12 23:09] realityendshere commented on #67
Perhaps adding the following near the beginning of the buildURL method in src/json-api-adapter.js would help...?

[code]

[2015-03-13 14:17] eneuhauser commented on #67
Hi @realityendshere, I am looking into this issue. I added a namespace to the project I'm working on and everything just worked. Could you give me sample JSON of your resource with the links section? I've found it works best if the service returns the related URI. Is the issue when it only has a type and id?

Another thing I'm investigating is in the `extractRelationships` function. I believe ther

[2015-03-13 16:46] realityendshere commented on #67
Hi @eneuhauser,

I agree, it would definitely be better to adjust the serializer to address the behavior I am seeing.

I am using Ruby/Rails and the jsonapi-resources gem.

Here's a sample of a response when sending a GET request to tools.dev/api/posts:

[code]

Thanks again!

[2015-03-13 18:35] eneuhauser commented on #67
Hi @realityendshere, I was able to duplicate your issue in a new test. I greatly refactored logic for setting keys in the routes to ensure links are very specific to the appropriate resource. After the refactor, the test that was failing with duplicating the namespace passed and the code doesn't have to reference the namespace.

Please checkout my latest changes and let me know if you have any pro

[2015-03-13 20:09] realityendshere commented on #67
Hi @eneuhauser,

Thanks for looking into this. That's a lot of changes!

I am using ember-cli with a proxy config for XHR requests. It seems as if the latest changes try to connect directly to the API server without going through ember-cli's proxy. The result is a whole lot of cross-site security warnings when trying to retrieve related data. If I roll back to a previous commit, everything works t

[2015-03-13 20:52] eneuhauser commented on #67
Hi @realityendshere,

I believe you're seeing this now because the app is now actually using the related resource URL instead of hitting the default resource URL. For example, I believe my old version would go to `/api/users/5500d1cb64616e1af8000000` instead of `http://tools.dev/api/posts/5500d1cb64616e1af8020000/user`. This could have issues as the relationships get more complicated.

I'm also us

[2015-03-13 21:43] realityendshere commented on #67
Hi @eneuhauser,

I am indeed using `ember server --proxy http://tools.dev`. Which is why some calls to my development API work as expected. Only the relationship links run into the digital red tape.

I definitely see the need for optionally capturing the full URL of a related resource. I suppose APIs could be spread across several hosts. I guess that leads me to 3 possible options (beyond the flag

[2015-03-13 22:26] realityendshere commented on #67
One more thing @eneuhauser:

I am now using `https://github.com/cyu/rack-cors` to allow requests from anywhere. I still get `Content Security Policy directive` warnings from, I assume, Ember CLI content security policy. The large blocks of red text in the JS console are mildly irritating, but I think the experimental app I have going is correctly fetching data.

This works for entirely local devel

[2015-03-13 22:35] eneuhauser commented on #67
@realityendshere,

In the serializer, I just added a method `removeHost` that will strip out the host. By default, it will use relative URLs. If someone needs absolute URLs, they can override that method with `removeHost: function(url) { return url; }`.

I really appreciate your feedback. I'm glad someone is able to use my updates.

[2015-03-13 22:58] realityendshere commented on #67
Thank you, @eneuhauser !

That change works for me! It's always good to see a JS console with minimal red text.

And the `removeHost` method seems like it would make it reasonably easy to address a broad variety of simple or complex API hosting scenarios. Awesome!

I hope your work finds its way into the main repo now that JSON API spec is on the verge of 1.0. Thanks again!

[2015-03-19 23:17] kurko commented on #28
Yeah. Currently, the best strategy is to save one then the other. However, that's kinda bad: what if the second fails and then the first shouldn't be saved? You can't really do a unique transaction for both.

[2015-03-28 20:10] spundun opened #74 "Warning: package `ember-json-api` is not a properly formatted package"
[code]

[2015-03-28 20:11] spundun commented on #74
Scroll the pasted message to the right to see the relevant part of the warning.

[2015-04-01 02:50] kurko commented on #66
That's a good idea, @aceofspades. I'll create them when I release later, although some versions will only accept one version or the other.

[2015-04-13 05:54] andrewbranch opened #75 "Need to replace "data" with key for type?"
Maybe I'm just doing something wrong, but this package isn't working for me. My very simple server response looks like

[code]

and Ember fails while warning me `Encountered "data" in payload, but no model was found for model name "datum"`.

If, during, the serialization, I do

[code]

it works. Am I missing something, or are you?

[2015-04-13 08:46] jonkoops commented on #75
@andrewbranch It looks like the response of your API conforms to the RC3 version of the specification, but the latest version of ember-json-api still only supports RC1. If you want to try out a version that supports RC3 of the specification please [use this pull request](https://github.com/kurko/ember-json-api/pull/71). Note that the pull request is very much a WIP if you find any issues please re

[2015-04-13 08:53] jonkoops commented on #74
@spundun Seems the path to the `main` entry in package.json is malformed. I'll whip up a pull request to fix it.

[2015-04-13 09:05] jonkoops commented on #70
@wwwdata Progress on RC3 compliance can be found in [this pull request] (https://github.com/kurko/ember-json-api/pull/71). Please add your comment there if the issue persists in the latest version of the pull request.

[2015-04-13 09:10] wwwdata commented on #70
yes, this issue is old, i will close it

[2015-04-13 09:10] #70 closed

[2015-04-13 09:34] jonkoops commented on #69
@joachimhs This functionality is added in a [pull request](https://github.com/kurko/ember-json-api/pull/71) that will make this package compliant with the RC3 version of the specification.

[2015-04-13 09:35] jonkoops commented on #67
Maybe we should close this issue since a pull request has been made for RC3?

[2015-04-13 15:49] #67 closed

[2015-04-13 16:11] andrewbranch commented on #75
Awesome, thanks for pointing me in the right direction! I'm happy to try the PR and contribute to moving it forward wherever I can.

[2015-04-13 16:11] #75 closed

[2015-04-13 16:16] spundun commented on #74
Great! I'm glad I could help. :+1:

[2015-04-14 18:56] joeyespo commented on #74
Came here to report the same thing. Happy to see it's already PR'd :+1:

[2015-04-14 22:57] dopudesign commented on #74
same here! :+1:

[2015-04-15 06:05] andrewbranch commented on #3
Looks like PUT is no longer mentioned in the spec. What’s the status of this?

[2015-04-15 10:18] jonkoops commented on #3
I've found some additional information about PUT requests in the [FAQ](http://jsonapi.org/faq/#wheres-put):

[2015-04-15 14:31] andrewbranch commented on #3
So shouldn’t this change be incorporated into #71? I can look into it if it’s not already in progress elsewhere.

[2015-04-21 12:08] joachimhs commented on #27
I would suggest using the function from the newer Ember Data BuildURLMixin.

https://github.com/emberjs/data/blob/v1.0.0-beta.16.1/packages/ember-data/lib/adapters/build-url-mixin.js#L50-L68

[2015-04-23 12:22] MarkLunney commented on #74
I'm getting this issue too, will this be pushed to master so we don't need to point to the patch-2 branch?

[2015-04-23 13:50] jonkoops commented on #74
@MarkLunney The pull request merges directly into the master of this repo. But I think @kurko is a but too busy at RailsConf right now.

[2015-04-23 14:45] dajacques opened #78 "JSON API rc3/1.0 updates?"
Anything in the works to support rc3 (or really the impending 1.0)?

[2015-04-23 14:52] csantero commented on #78
https://github.com/kurko/ember-json-api/pull/71

[2015-04-23 14:58] dajacques commented on #78
Not sure how I missed that! Thanks!

[2015-04-23 14:58] #78 closed

[2015-04-28 17:49] kurko commented on #3
Yes, I think it should @andrewbranch.

[2015-04-28 18:04] andrewbranch commented on #3
@kurko Already done :)

[2015-04-30 21:18] jamonholmgren commented on #53
@johanneswuerbach , did you end up getting clarity on this?

[2015-04-30 21:27] jamonholmgren commented on #53
Okay, so it looks like the jsonapi spec recommends dasherized URLs, meaning this adapter isn't conforming to that:

I can work on a pull request if @kurko agrees this should happen.

[2015-04-30 21:33] aceofspades commented on #53
:+1:

[2015-05-01 06:57] jonkoops commented on #53
@jamonholmgren No need for that, work is being done the pull request for RC3 compliance to dashterize all the things. See https://github.com//ember-json-api/issues/8#issuecomment-97548478.

[2015-05-01 18:09] jamonholmgren commented on #53
Oh, nice. Thanks @jonkoops !

[2015-05-28 14:22] jonkoops commented on #69
@kurko This functionality was introduced in #71, can you close this issue?

[2015-05-29 11:28] SeyZ opened #81 "modelNameFromPayloadKey not called"
Here's my serializer:

[code]

Using a `JsonApiSerializer`, the `modelNameFromPayloadKey` is not called:

[code]

[2015-05-29 11:47] SeyZ commented on #81
This will be fixed after upgrading ember-data to `1.0.0-beta.18`. A pull request has already been proposed:  https://github.com/kurko/ember-json-api/pull/80

[2015-05-29 11:47] #81 closed

[2015-05-29 19:53] barelyknown opened #82 "Support for JSON API 1.0"
I'm not sure if you're going to update this library to support JSON API 1.0, but if you are, I submitted this PR https://github.com/eneuhauser/ember-json-api/pull/14 to a more up to date fork that you might want to build on.

[2015-05-31 13:39] wvteijlingen commented on #74
:+1: seems like an easy merge to solve this annoying error :).

[2015-06-01 07:02] SeyZ commented on #82
:+1:

[2015-06-01 14:28] jcloutz commented on #82
1.0 support would be great

[2015-06-01 16:46] steffenbrem commented on #82
Nice :+1: Would be awesome!

[2015-06-02 20:58] jonkoops commented on #74
Closing this issue because the related pull request has been merged into master. If anyone still encounters any issues I'll reopen it.

[2015-06-02 20:58] #74 closed

[2015-06-02 20:59] jonkoops commented on #53
Closing this issue because @eneuhauser's work on this has been merged.

[2015-06-02 20:59] #53 closed

[2015-06-02 21:00] jonkoops commented on #69
Closing this issue because the functionality was introduced in #71 which has been merged with master.

[2015-06-02 21:00] #69 closed

[2015-06-02 21:10] jonkoops commented on #55
@JacksonGariety Would it be possible for you to [unregister your Bower package](http://bower.io/docs/creating-packages/#unregister) so we can register this repository as the official one?

[2015-06-02 21:31] jonkoops commented on #66
I wouldn't consider the way Ember data has released versions counter to semantic versioning as it hasn't hit a true 1.0 yet (though it is a bitch). With the promise of a stable version of Ember data together with the release of Ember 2.0 I don't think we should need to track Ember data versions in the near future. In the meanwhile I do think it would be a good idea to add the required version of E

[2015-06-02 21:34] jonkoops commented on #3
Closing this issue since the discussed code has been merged into master.

[2015-06-02 21:34] #3 closed

[2015-06-02 21:57] jonkoops commented on #82
I have all intention of getting this library to be complaint with JSON API 1.0, @eneuhauser is doing a lot of awesome work we can all benefit from.

[2015-06-03 06:55] JacksonGariety commented on #55
@jonkoops done

[2015-06-03 12:39] green-arrow opened #83 "Adapter.findHasMany error on snapshot.hasMany(relationship.key)"
In the `findHasMany` function, the relationship is being queried in the first line:

[code]

However, it looks like now the result of `snapshot.hasMany(relationship.key)` is coming back as undefined instead of an empty array, which I believe was the original result when I first wrote that line.

Changing to something like the following should resolve the issue:

[code]

[2015-06-03 13:12] wvteijlingen commented on #83
Yes, this has changed in Ember Data beta17 I believe. I had to update this as well to get it working in beta 18.

[2015-06-05 07:45] jonkoops commented on #55
Thank you @JacksonGariety. I've moved ownership of the bower package to this repository. @muchweb would it be possible for you to verify that the installation is working correctly?

[2015-06-05 20:01] green-arrow commented on #83
This is fixed in #84

[2015-06-08 19:10] ballPointPenguin commented on #82
Is this library being dovetailed by ember data 1.0?
Will ember data just use this library to add support for the JSON API?

[2015-06-08 19:23] daliwali commented on #82
@ballPointPenguin I'm not really sure, AFAIK Ember Data has not even preliminary support for JSON API yet, though the core devs are aware of @eneuhauser 's fork. It will likely be re-implemented by the core devs, perhaps @igorT knows.

[2015-06-08 19:38] jonkoops commented on #82
@dawiwali From what I've heard a JSON API adapter will be introduced by the Ember Data team.

If such a library were to be introduced I think we should focus our efforts there and migrate our users as gracefully as we can. There is no use fragmenting the user base over different libraries.

@eneuhauser I would love to have your opinion on this matter seeing you've been such a prolific contributor

[2015-06-08 20:11] ballPointPenguin commented on #82
Agreed. See, for example
https://github.com/emberjs/data/issues/2905 & https://github.com/emberjs/data/pull/2904

[2015-06-08 20:14] ballPointPenguin commented on #82
Also very relevant: https://github.com/eneuhauser/ember-json-api/pull/14

[2015-06-08 20:14] igorT commented on #82
@daliwali we changed our serializers and store apis to use json api, and adding a json api serializer is the next step (approximately 0 lines of code for normalization, as our internal format is json api now). I would expect it to land this week

[2015-06-09 06:32] daliwali commented on #82
@igorT :+1:

[2015-06-10 00:51] eneuhauser commented on #82
@igorT This is awesome! One thing the ember-json-api library has is an extensive set of unit / integration tests. There has been some work to get them up-to-date with version 1.0 of JSON API and I would like to see how ember-data stacks up against the test cases.

This is also a good community to reach out to for people that have implemented the JSON API spec and many (including myself) are upgrad

[2015-06-10 00:52] igorT commented on #82
@wecc had looked at the tests and copied/repurposed them i believe.

[2015-06-11 19:09] jonkoops commented on #82
So I'm thinking we should probably start planning a migration path for our users as soon as the official code lands. Currently the [meta issue tracking 1.0](https://github.com/emberjs/data/issues/2545) of Ember Data is pinned for tomorrow (June 12th) but looking at the list of open issues I'm guessing we're still getting at least one beta release before the actual stable hits.

@kurko @eneuhauser

[2015-06-11 19:11] daliwali commented on #82
@jonkoops in favor :+1:

[2015-06-11 19:19] barelyknown commented on #82
I agree that it makes the most sense to deprecate this library in favor of official Ember Data support.

[2015-06-11 19:21] jonkoops commented on #83
It seems this issue was solved by @Asgaroth in [his pull request](https://github.com/kurko/ember-json-api/pull/80). The specific LOC can be found [here](https://github.com/kurko/ember-json-api/blob/master/src/json-api-adapter.js#L118). @green-arrow I'm closing this issue and the associated pull request. If I missed anything let me know.

[2015-06-11 19:21] #83 closed

[2015-06-11 20:36] eneuhauser commented on #82
@jonkoops I'm excited to be a core contributor, but I vote we deprecate the library. It was fun while it lasted.

I'm finally getting back to my Ember project using JSON API, so I can dedicate some time to this library. My plan is to review Ember Data 1.0. Igor indicated the tests have been integrated with the core, but I'd like to just run a sanity check against them. If there are any gaps, I can

[2015-06-12 00:40] kurko commented on #82
@eneuhauser I agree with you. I already talked to @igorT about it and the right thing to do is to deprecate this one. However, I want to do that at the right moment. A lot of people are using this lib and I think it'd be a disservice to deprecate it while ED is beta.

I'd deprecate it as soon as people have solid alternative in ED. Thoughts?

[2015-06-12 01:11] kurko commented on #55
Finally! :heart:

[2015-06-12 07:04] jonkoops commented on #82
@kurko Yes, I agree. We definitely should not start deprecarion without having a solid alternative. I think we should target deprecation when Ember Data has a stable release.

[2015-06-12 17:11] green-arrow commented on #83
@jonkoops Is it possible to get a new release of this cut?I believe this will prevent people from being able to update ember-data.

[2015-06-14 17:28] jonkoops commented on #83
@kurko Could you tag a new release? I am not familiar with the process. Or can I just add a git tag?

[2015-06-15 16:11] e247 opened #85 "Passing query parameters seems to break things"
It seems that if I try and pass any query parameters to the store.find function the URL request gets a bit messed up. The following code works correctly:

    export default Ember.Route.extend({
	model: function() {
		return this.store.find('account');
	}
    });

but the following

    export default Ember.Route.extend({
	model: function() {
		return this.store.find('account', {"a":"b"});
	}

[2015-06-16 21:57] kurko commented on #83
@green-arrow @jonkoops so, I pushed `0.5.0` tag to Github.

As for the NPM release, it's really odd. I had released this weak. I guess I either forgot to do the final `<enter>` to execute the command or there some cache in the interwebz. Anyway, it's there! https://www.npmjs.com/package/ember-json-api

[2015-06-17 13:48] jonkoops commented on #83
Nice. Thanks @kurko

[2015-06-17 13:50] jonkoops commented on #85
@e247 A new version of Ember JSON API has been released, can you confirm this bug is still present with that version?

[2015-06-17 21:04] EmergentBehavior commented on #82
Ember Data 1.13 was released less than 24 hours ago. According to https://github.com/emberjs/data/issues/2905, the JSON-API adapter is now baked in and may be usable from a nightly.

[2015-06-18 07:02] SeyZ commented on #82
:tada: I use the JSONAPI adapter/serializer from the canary build. It works really well.

[2015-06-18 11:06] jonkoops commented on #82
@EmergentBehavior @SeyZ Great to hear! I'll start the deprecation process as soon as this lands in a stable form.

[2015-06-19 13:16] jonkoops commented on #66
I think this issue is no longer relevant with the upcoming release of Ember Data and it's built-in JSON API Adapter. Therefore I am closing this issue.

[2015-06-19 13:16] #66 closed

[2015-06-19 13:24] jonkoops commented on #55
v0.5 has been [released](https://github.com/kurko/ember-json-api/releases/tag/0.5.0) by @kurko, so I am closing this issue. I am also closing associated Bower issue #38. If any further issues are present create a new issue and they will be addressed.

[2015-06-19 13:24] #55 closed

[2015-06-19 13:25] #38 closed

[2015-06-19 13:37] jonkoops opened #86 "[Meta Issue] Deprecating in favour of official Ember Data adapter"
The Ember Data team has decided to support JSON API out of the box in the upcoming v1.0 release. Given these developments we have decided to deprecate this library and move our users to the official Ember Data solution.

This issue is to keep track of other issues related to this topic. But should also serve as a place to discuss what we can do to make the migration as smooth as possible.

- [x] R

[2015-06-19 13:39] jonkoops commented on #82
I've opened up an issue (https://github.com/kurko/ember-json-api/issues/86) to discuss deprecation and build a todo list. If you have anything to add about what we can do to improve this process, please let me know.

[2015-06-19 13:52] wecc commented on #86
I've written down some steps that I think should be sufficient to transition to the new built-in JSON-API adapter/serializer:

1. Make sure that your API conforms to JSON-API 1.0

2. The built-in `JSONAPISerializer` expects `type` to be **plural dasherized** and `attributes/relationships` members **dasherized**

  If your API uses other conventions make sure to override `modelNameFromPayloadKey`/`

[2015-06-19 14:12] muchweb commented on #55
:+1:

[2015-06-19 14:26] kurko commented on #86
This is awesome! Thanks @wecc for your hard work.

[2015-06-22 04:43] Gayathri-r06 commented on #86
Can you please confirm if the EmberJSONAPI serializer and adapter is working as expected? Can someone post a sample Ember model and API JSON?

Thanks much

[2015-06-22 11:03] jonkoops commented on #82
@eneuhauser I think we should get the work done in your repo + the 1.0 pull request over to this project. Compliance with v1.0 of the spec is essential to a smooth migration.

[2015-06-22 11:08] jonkoops commented on #86
@wecc Thanks for the feedback.

[2015-06-23 02:30] eneuhauser commented on #82
@jonkoops Yeah, we can work from the pull requests and issues in my repo. I have my server upgraded to 1.0, so I have live services I can verify the 1.0 pull request.

The biggest issues will be upgrading ember-data. I briefly tested with 1.13.2. It worked, but I got several deprecation warning specific to the custom adapter and serializer.

[2015-06-23 02:58] EmergentBehavior commented on #82
@eneuhauser I had some deprecation warnings too with JSONAPIAdapter/Serializer but was able to overcome them by doing the following:

In application adapter, add:
[code]

In application serializer, add:
`isNewSerializerAPI: true`

I had to tweak the serializers to camelCase keys, but otherwise the adapter is working great for me with a JSON-API compatible service I wrote for server-side.

[2015-06-23 07:27] jonkoops commented on #56
I've registered the bower package to this repository, it is highly advised to use Ember CLI going forward. I'm closing this issue. If any issues still arise please open a new issue and it will be addressed.

[2015-06-23 07:27] #56 closed

[2015-06-23 07:29] jonkoops commented on #63
You could probably set the value to an empty array value to remove all relations like so: `model.set('someRelation', [])`.

[2015-06-23 07:29] #63 closed

[2015-06-23 07:33] jonkoops commented on #2
@daliwali Is this issue still relevant or can I close it? I'm doing some cleaning.

[2015-06-23 07:41] daliwali commented on #2
OK to close.

[2015-06-23 07:41] #2 closed

[2015-06-23 17:11] kurko commented on #66
:+1:

[2015-06-23 17:12] kurko commented on #55
:+1:

[2015-06-23 21:03] jonkoops commented on #15
@stefanpenner @wecc I assume work for this has been done in the official Ember Data adapter?

[2015-06-23 21:11] igorT commented on #15
This can be closed as this is no longer in JSONAPI

[2015-06-23 21:27] #15 closed

[2015-06-23 21:28] kurko commented on #15
@jonkoops closing. I think we'll deprecate the lib before this issue ever has a chance to be fixed.

[2015-06-23 21:32] jonkoops commented on #15
@kurko Definitely, just making sure this isn't anything that should be implemented in the official.

[2015-07-01 11:58] MarcoPrins opened #87 "Not a properly formatted package"
This warning shows up when running `ember s`:
[code]

And when I try to update , I get this error:

[code]

Ember cli `v0.2.7`
Ember `v1.13.0`
Node.js `v0.10.35`

[2015-07-01 14:08] jonkoops commented on #87
@MarcoPrins What is the version of Ember JSON API you are running?

[2015-07-01 14:11] MarcoPrins commented on #87
@jonkoops Version 0.3.0

[2015-07-01 16:08] jonkoops commented on #87
@MarcoPrins The latest version (0.5.0) has a fix that should prevent the deprecation issues you are seeing.

As for the NPM error I think it is related to an NPM bug not a bug in Ember JSON API. Make sure you are using the latest version of Node.js (or IO.js) and update to the latest version of NPM (`npm install -g npm@latest`).

If you are still expeiencing issues please run the following command

[2015-07-02 12:50] jonkoops commented on #82
@eneuhauser Has blessed us with a marvellous pull request bringing us up to speed with v1.0 spec compliance. I'd appreciate it if some of you could go ahead and give it a try, so we can iron out any bugs. I'll probably be spending next week updating some apps as well. The pull request can be found here: #88

[2015-07-02 20:01] kurko commented on #87
Thanks @jonkoops for the thorough instructions.

@MarcoPrins please update to 0.5.0. I'm closing this for now. Please reopen if the problem persists on 0.5.0 :smile:

[2015-07-03 07:24] MarcoPrins commented on #87
Thanks for your helpful answer @jonkoops !
This is more due to npm not wanting to update than anything else.
`0.5.0` does remove the deprecation warning

[2015-07-03 07:47] jonkoops commented on #87
Okay. If this fixes your issue I am going ahead and close this.

[2015-07-03 07:47] #87 closed

[2015-07-14 21:02] jonkoops commented on #82
I am happy to report we just added JSON API v1.0 support by merging the before mentioned pull request. A huge thanks again to @eneuhauser and @barelyknown.

[2015-07-14 21:02] #82 closed

[2015-07-14 21:04] jonkoops commented on #86
JSON API v1.0 compliance has been added in https://github.com/kurko/ember-json-api/issues/82.

[2015-10-02 11:05] jonkoops commented on #86
I'm thinking maybe we should just go ahead and deprecate the library. I really want to move the code over to the latest Ember Data in the 1.13.x releases, but I just haven't had the time. @kurko would this be agreeable to you as well?

[2015-10-02 11:07] jonkoops commented on #85
I am closing this issue due to lack of activity and the impending deprecation in favour of the official Ember Data adapter. If you think this is an issue that relates the the Ember Data please [report the issue](https://github.com/emberjs/data/issues/new) there.

[2015-10-02 11:07] #85 closed

[2015-10-02 11:08] jonkoops commented on #62
I am closing this issue due to the impending deprecation in favour of the official Ember Data adapter. If you think this is an issue that relates to Ember Data please [report the issue](https://github.com/emberjs/data/issues/new) there.

[2015-10-02 11:08] #62 closed

[2015-10-02 11:09] jonkoops commented on #60
I am closing this issue due to lack of activity and the impending deprecation in favour of the official Ember Data adapter. If you think this is an issue that relates to Ember Data please [report the issue](https://github.com/emberjs/data/issues/new) there.

[2015-10-02 11:09] #60 closed

[2015-10-02 11:09] jonkoops commented on #52
I am closing this issue due to lack of activity and the impending deprecation in favour of the official Ember Data adapter. If you think this is an issue that relates to Ember Data please [report the issue](https://github.com/emberjs/data/issues/new) there.

[2015-10-02 11:09] #52 closed

[2015-10-02 11:11] jonkoops commented on #42
@igorT I am closing this issue since we're deprecating the library in favour of using the official Ember Data version.

[2015-10-02 11:11] #42 closed

[2015-10-02 11:11] jonkoops commented on #41
I am closing this issue due to lack of activity and the impending deprecation in favour of the official Ember Data adapter.

[2015-10-02 11:11] #41 closed

[2015-10-02 11:11] jonkoops commented on #33
I am closing this issue due to lack of activity and the impending deprecation in favour of the official Ember Data adapter. If you think this is an issue that relates to Ember Data please [report the issue](https://github.com/emberjs/data/issues/new) there.

[2015-10-02 11:11] #33 closed

[2015-10-02 11:12] jonkoops commented on #29
I am closing this issue due to lack of activity and the impending deprecation in favour of the official Ember Data adapter. If you think this is an issue that relates to Ember Data please [report the issue](https://github.com/emberjs/data/issues/new) there.

[2015-10-02 11:12] #29 closed

[2015-10-02 11:12] jonkoops commented on #28
I am closing this issue due to lack of activity and the impending deprecation in favour of the official Ember Data adapter. If you think this is an issue that relates to Ember Data please [report the issue](https://github.com/emberjs/data/issues/new) there.

[2015-10-02 11:12] #28 closed

[2015-10-02 11:12] jonkoops commented on #27
I am closing this issue due to lack of activity and the impending deprecation in favour of the official Ember Data adapter. If you think this is an issue that relates to Ember Data please [report the issue](https://github.com/emberjs/data/issues/new) there.

[2015-10-02 11:12] #27 closed

[2015-10-02 11:12] jonkoops commented on #22
I am closing this issue due to lack of activity and the impending deprecation in favour of the official Ember Data adapter. If you think this is an issue that relates to Ember Data please [report the issue](https://github.com/emberjs/data/issues/new) there.

[2015-10-02 11:12] #22 closed

[2015-10-06 00:24] kurko commented on #41
:heart:

[2015-10-06 00:25] kurko commented on #86
Yes. I also don't think it's worth our time and effort to move in parallel with ED.

[2015-11-13 15:25] jonkoops commented on #86
This issue is closed by #89, we are now officially deprecated!

[2015-11-13 15:25] #86 closed